Source: fnts
Section: python
Priority: extra
Maintainer: Mikko Ojala 
Build-Depends: debhelper (>= 7), python-support
Standards-Version: 3.8.0
Homepage: http://www.freenest.org

Package: fnts
Architecture: all
Depends: python (>= 2.7), python-yaml, python-twisted, fnts-tools
Description: This is FreeNest test service package to run tests from FreeNest/Testlink.

