Source: fntc
Section: python
Priority: extra
Maintainer: Mikko Ojala 
Build-Depends: debhelper (>= 7), python-support
Standards-Version: 3.8.0
Homepage: http://www.freenest.org

Package: fntc
Architecture: all
Depends: python (>= 2.7)
Description: This is FreeNest test client package to run tests from FreeNest/Testlink.

